.navbar {
  grid-area: n;

  background-color: #FFFF64;

  padding: 20px;
}

.friendsbar{
    display: flex;
    justify-content: center;
}

.item a {
  text-decoration: none;
  color: black;
}

.item a.active {
    color: black;
    background-color: #01B2EA;
}

