.app-wrapper {
  display: grid;

  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;

  width: 80%;

  background-color: inherit;
}

.app-wrapper-content {
  grid-area: c;

  background-color: #FFFF64;
}
