.dialogs {
    display: grid;
    
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.messages {
    position:relative;
    padding: 20px;
}

.sendPanel {
    display: flex;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    width:90%;
}

.sendPanel textarea {
    width:100%;
}